.importador img.cargador {
	display: none;
	vertical-align: middle;
	height: 22px;
	margin-right: 13px;
}

.importador.loading img.cargador {
	display: initial;
}

.importador .atencion {
	color: red;
	font-weight: bold;
}

.wrap.importador.exportador,
.wrap.importador.importador {
	max-width: 700px;
}

.wrap.importador.importador .right {
	text-align: right;
	margin-top: 10px;
}

.importador.loading .finished {
	display: none;
}

.importador .totales {
	padding-top: 30px;
}

.importador ul.acciones {
	list-style: disc;
	margin-left: 15px;
}

.importador .acciones ul {
	padding-left: 35px;
	list-style: circle;
}

.importador .acciones ul li {
	margin-bottom: 0;
}

.wrap.importador span.export_link,
.wrap.importador a {
    font-weight: bold;
	cursor: pointer;
	color: grey;
}

.wrap.importador span.export_link:hover,
.wrap.importador a:hover {
	color: black;
}

.wrap.importador .dialogo {
	display: none;
}

.ui-button.ui-button-icon-only  {
	text-indent: -99999px;
}
