<div class="wrap importador loading wp_importer">
	<h1>{{ texto.import_button }}</h1>

	<p>{{ __("This process imports a new record for each row of the spreadsheet and uses the data in the first row to determine the field corresponding to each column. Remember to add at least the <b>post_title</b> column.", 'wp_importer') }}</p>
	<p>{{ __("Please select the file with the information and click on <b>%s</b>. The system will inform each process that is executed during the import and in the end will expose information with the imported elements.", 'wp_importer')|format( texto.import_button ) }}</p>
	<p>{{ __("If the import time of a page takes longer than expected, try again until you get the final result.", 'wp_importer') }}</p>
	<p>{{ __("For reference you can export a spreadsheet file with all %s using <span class='export_link'>this link</span>.", 'wp_importer')|format( texto.plural) }}</p>
	{% if has_p2p %}<p>{{ __("This structure has <strong>p2p</strong> relationships. It is <strong>strongly recommended</strong> to import without relationships and only import relationships when all structures are already installed. If you know what you are doing you can choose to install with relationships in parallel.", 'wp_importer') }}</p>{% endif %}
	{% if mensaje %}
		<p class="atencion">{{ mensaje }}</p>
	{% endif %}
	<form action="admin.php?import={{ action }}" method="post" enctype="multipart/form-data">
		<p>{{ texto.import_file }}:
			<input type="file" name="import_file" id="import_file">
		</p>
		{% if has_p2p %}<p>{{ __('Actions on <strong>p2p</strong> relationships', 'wp_importer') }} <select name="p2p_action">
				<option value="{{ p2p_action.without }}">{{ __("Import without relationships", 'wp_importer') }}</option>
				<option value="{{ p2p_action.only }}">{{ __("Import only relationships", 'wp_importer') }}</option>
				<option value="{{ p2p_action.with }}">{{ __("Import with relationships", 'wp_importer') }}</option>
			</select>
		</p>{% endif %}
		<div class='right'><input type="submit" class="button action" value="{{ texto.import_button }}" name="submit"></div>
	</form>
	<div class='dialogo' data-cancel='{{ __('Cancel', 'wp_importer') }}' data-enlace='{{ enlace_exportar }}' data-nonce='{{ fn('wp_create_nonce', 'wp_rest') }}' data-title='{{ __('Export Spreadsheet', 'wp_importer') }}'>
		<p>{{ __('In what file type do you want to download the data?', 'wp_importer') }}</p>
	</div>

</div>
