<div class="wrap importador loading wp_importer">
	<h1><img class='cargador' src='{{ spinner }}'> {{ texto.import_button }}</h1>

	<ul class='acciones'>
	</ul>

	<hr>

	<ul class='totales finished'>
	    <li>{{ __('Added records:', 'wp_importer' ) }} <span id='nuevas'>0</span></li>
		<li>{{ __('Updated records:', 'wp_importer' ) }} <span id='modificadas'>0</span></li>
		<li>{{ __('New terms:', 'wp_importer' ) }} <span id='terminos_nuevos'>0</span></p></li>
	</ul>
	<p class='finished'>{{ __("For reference you can export a spreadsheet file with all %s using <span class='export_link'>this link</span>.", 'wp_importer')|format( texto.plural) }}</p>
	<p class='finished'>{{ __("To import another file, use <a href='%s'>this link</span>.", 'wp_importer')|format( enlace_otro_lote ) }}</p>
	<div class='dialogo' data-cancel='{{ __('Cancel', 'wp_importer') }}' data-enlace='{{ enlace_exportar }}' data-title='{{ __('Export Spreadsheet', 'wp_importer') }}'>
		<p>{{ __('In what file type do you want to download the data?', 'wp_importer') }}</p>
	</div>
	<script>
		jQuery(document).ready(function($) {
			importer( 'importer_{{ tipos }}', 1, '{{ filename }}', '{{ filetype }}', '{{ p2p_action }}' );
		});
	</script>
</div>
